<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>LEGO TWITTER</title>
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/foundation-sites@6.7.4/dist/css/foundation.min.css" crossorigin="anonymous">
  <link rel="stylesheet" href="/stylesheets/style.css">
</head>

<body>
  <div class="wrapper">
    <header>
      <h1>
        <a href="/"><img src="../../img/Lego-Logo.png" height="120" width="200"></a>
      </h1>
        <nav>
          {{!-- <span><a href="/">home</a></span>  --}}
          {{#if loggedIn}}
          <button id="logout" class="btn alert button">Logout</button>
          {{else}}
          <a href="/login" class="success button">Login</a>
          {{/if}}
        </nav>
    </header>
        <div class="sidenav">
          {{#if loggedIn}}
          <a href="/dashboard" class= "button primary">Dashboard</a>
          <a href="/dashboard" class="button alert">Create Post</a>
          {{else}}
           <a href="/login" class="button success" >Login</a>
          {{/if}}
        </div>
    <main>
      
      {{{ body }}}
    </main>
    <footer>
      Thanks for visiting LEGO twitter!
    </footer>
  </div>

          <a href="/dashboard">dashboard</a>








  {{#if loggedIn}}
  <script src="/javascript/logout.js"></script>
  {{/if}}

</body>

</html>
