<section>
    <h2 id="Lego-Bin"></h2>
    <div>
        <div>
            <div class="user-profile-pic">
                <!-- get user profile pic url from DB -->
                <img src='' class="profile-Img" width="150" height="150">
            </div>
            <div class="change-profile-pic">
                <button type="button" class="change-profile-pic-btn button primary">Change Profile Pic</button>
            </div>
        </div>
        <div>
            <!-- get username from db -->
            <div class="username">
                <h2>Username</h2>
            </div>
            <form class="new-post-form">
            <div class="create-post">
                <div>
                    <label for="post-title">Title:
                        <input type="text" id="post-title" name="post-title" >
                    </label>
                    
                </div>
                <div>
                    <label for="post-body">Text:
                        <textarea name="post-body" id= "post-body"></textarea>
                    </label>
                    
                </div>
                <div class="input-group">
                    <label for='files'>Select File:
                         <input id='files' type="file" multiple>
                    </label>
                   
                </div>
                <div>
                    <button type="submit" class="hollow button primary">Post</button>
                </div>
            </div>
            </form>
        </div>
    </div>
</section>


{{#if posts.length}}
<section>
  <h2>Your Posts</h2>
  <ol>
    {{#each posts as |post|}}
    <li>
      {{> post-info post}}
      <a href="/dashboard/edit/{{post.id}}" class="edit-link">Edit post</a>
    </li>
    {{/each}}
  </ol>
</section>
{{/if}}

<script src="/javascript/add-post.js"></script>
<script src="/javascript/profilepic.js"></script>