<section>
    <h2>Your LEGO Bin</h2>
    <div>
        <div>
            <div class="user-profile-pic">
                <!-- get user profile pic url from DB -->
                <img src='' class="profile-Img" width="150" height="150">
            </div>
            <div class="change-profile-pic">
                <button type="button" class="change-profile-pic-btn">change profile pic</button>
            </div>
        </div>
        <div>
            <!-- get username from db -->
            <div class="username">
                <h2>Username</h2>
            </div>
            <div class="create-post">
                <input type="text" id="post-title" name="post-title" value="post title">
                <div>
                    <textarea name="post-body">create a post</textarea>
                </div>
                <div>
                    <button type="submit">post</button>
                </div>
            </div>
        </div>
    </div>
</section>
<script src="/javascript/profilepic.js"></script>