
<form class="login-form">
    <div>
        <label for="email-login">Email:
            <input type="text" id="email-login" />
        </label>
        
    </div>
    <div>
        <label for="password-login">Password:
             <input type="password" id="password-login" />
        </label>
       
    </div>
    <div>
        <button type="submit" class="primary button">Log-In</button>
    </div>
</form>
<form class="signup-form">
    <div>
        <label for="username-signup">Username:
            <input type="text" id="username-signup">
        </label>
        
    </div>
    <div>
        <label for="email-signup">Email:
            <input type="text" id="email-signup" />
        </label>
        
    </div>
    <div>
        <label for="password-signup">Password:
            <input type="password" id="password-signup">
        </label>
        
    </div>
    <div>
        <button type="submit" class="button primary">Sign-Up</button>
    </div>
</form>
<script src="/javascript/login.js"></script>