<section>
    <h2>hi</h2>
    <div>
        <h3>Pick a theme</h3>
        <div>
            <ul id="Theme-List"></ul>
        </div>
        <div>
            <ul id="pic-image-list-group"></ul>
        </div>
    </div>
</section>
<script src="/javascript/picture-select.js"></script>