<section>
    <div>
        <h3>Please select your Mini-Figure Theme</h3>
        <div>
            <div id="Theme-List"></div>
        </div>
        <div>
            <div id="pic-image-list-group"></div>
        </div>
    </div>
</section>
<script src="/javascript/picture-select.js"></script>