* {
    box-sizing: border-box;
    
  }
  
  body, html {
    height: 100%;
    padding: 0;
    margin: 0;
    font-family: sans-serif;
    color: rgb(37, 33, 33);
  }
  
  a {
    text-decoration: none;
    color: #eeff00;
    font-weight: bold;
    transition: color .1s;
  }
  
  a:hover {
    color: #3486eb;
  }
  
  button {
    background-color: blue;
    border: 0;
    padding: 15px;
    color: white;
    font-weight: bold;
    transition: background-color .1s;
    cursor: pointer;
    border-radius: 5px;
  }
  
  button:hover {
    background-color: #3486eb;
  }
  
  .post-list {
    margin: 0;
    padding: 0;
    list-style-type:none;
  }
  
  textarea, input {
    padding: .5%;
    border-radius: 5px;
    border: 1px solid #ccc;
  }
  
  textarea:focus, input:focus {
    outline: none;
    border: 1px solid #3486eb;
  }
  
  textarea {
    min-width: 40%;
    min-height: 100px;
  }
  
  form > div {
    margin-bottom: 2%;
  }
  
  form label {
    display: block;
  }
  
  .wrapper {
    /* width: 1000px; */
    min-height: 100%;
    max-width: 3840px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
  }
  
  header {
    background-image: url("../../img/347359.jpg");
    border-bottom: 10px solid blue;
    padding: 20px 35px;
    background-color: var(--tertiary-color);
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    background-size: contain;
    background-attachment: fixed;
    background-position: 100%;
    z-index: 9999;
   
   
    /* border-bottom: 1px solid #ccc;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 1%;
    background-color: #333; */
  }
  
  header h1 {
    font-weight: bold;
    font-size: 36px;
    color: yellow;
    margin: 0;
    text-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    
    
    /* font-size: 1em;
    border: 2px outset #7d7d7d;
    border-radius: 5px;
    background-color: #ccc;
    padding: 1.25rem; */
  }
  
  header a {
    padding: 6px 8px 6px 16px;
    color: yellow;
  }

  main {
    flex: 1;
    padding: 2% 4%;
    padding-left: 250px;
    overflow: hidden;
  }

  .sidenav {
    background-image: url('../img/347290.jpg');
    padding-top: 200px;
    width: 200px;
    background-color: #f1f1f1;
    position: fixed;
    height: 100%;
    float: left;
    overflow: auto;
    border-right: 10px solid blue;
  }

  .sidenav a {
    padding: 6px 8px 6px 16px;
    margin: 5px;
    text-decoration: none;
    font-size: 25px;
    background-color: white;
    border: 2px solid red;
    border-radius: 5px;
    color: blue; 
    text-shadow: 0 0 10px rgba(255, 255, 255, 1);
    display: block;
  }
  .sidebar a.active {
    background-color: #04AA6D;
    color: white;
  }

  .sidebar a:hover:not(.active) {
    background-color: #555;
    color: white;
  }


  nav {
      padding: 1.2rem;
      text-align: right;
      white-space: pre;
  }
 
  header nav {
    display: flex;
    flex-wrap:wrap;
    justify-content: space-evenly;
    align-items: center;   
    list-style: none;
}
  
  .btn-no-style {
    background: none;
    border: none;
    padding: 0;
    cursor: pointer;
    text-decoration: none;
    color: #225ca3;
    font-size: 100%;
    font-weight: bold;
    transition: color .1s;
    margin-left: 16px;
  }
  
  .btn-no-style:hover {
    background: none;
    color: #3486eb;
  }
  
  .delete-post-btn {
    background-color: #d41414;
  }
  
  .delete-post-btn:hover {
    background-color: #ff643d;
  }
  
  .post {
    margin-bottom: 2%;
    line-height: 150%;
  }
  
  .post .title {
    font-style: italic;
    font-size: 1.25rem;
    color: #7d7d7d;
  }

  .post .title span {
    font-style: italic;
    font-size: 0.8rem;
    color: #7d7d7d;
  }
  
  .edit-link {
    display: block;
    margin: -1.5% 0 2% 0;
  }
  
  .upvote-btn {
    background-color: #197d0f;
    transition: background-color .1s;
  }
  
  .upvote-btn:hover {
    background-color: #1f9c13;
  }
  
  .comment-form {
    margin-bottom: 5%;
  }
  
  .comment {
    padding: 1%;
    margin-bottom: 1%;
  }
  
  .comment:nth-child(odd) {
    background-color: #f0f5ff;
  }
  
  .comment .meta {
    font-size: 90%;
    margin-bottom: .5%;
    opacity: .6;
  }
  
  .new-post-form input, textarea {
    width: 80%;
  }

  .login-form, .signup-form {
    font-size: 24px;
  }
  
  .edit-post-form {
    margin-bottom: 5%;
  }

  .row {
      display: flex;
  }

  .column {
      flex: 50%;
      padding: 1.25rem;
  }
  
  footer {
    border-top: 3px solid blue;
    display: flex;
    justify-content: center;
    padding: 1%;
    font-size: 110%;
  }
